#lucid-messages {
    position:fixed;
    top: 0px;
    left: 25%;
    width:50%;
    z-index:9999;
    border-radius:0px;
    display: none;
}

table.lucid-data-table{
}

th.lucid-data-column-sortable{
    cursor: pointer;
}

div.card > table.table{
    border-collapse: collapse;
    margin-bottom:0px;
    border-width: 0px 1px 0px 1px;
}

div.card-footer-data-table{
    padding: 0.25rem 0.25rem;
}
